<footer class="main-footer">
    <strong>Copyright &copy; @(DateTime.Now.Year)
        <a target="_blank" href="https://www.linkedin.com/in/mostafa-dewydar/"><i class="fa-brands fa-linkedin"></i> Mostafa Dewydar</a> .</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 0.0.1
    </div>
</footer>
