<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right ">
        V 2 - Powered by Nera &copy;  @(DateTime.Now.Year) SANS All Rights Reserved.
    </div>
    <!-- Default to the left -->
    &nbsp;
</footer>