<!-- Modals -->
<div class="modal fade modal" id="modal-trigger" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <div class="row">
                    <div class="col-md-6">

                        <h4 class="title" id="largeModalLabel"></h4>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
            </div>
            <div class="modal-header-footer">
            </div>
        </div>
    </div>
</div>