<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>PLMS</title>
<system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
</system.web>
<link href="~/staticfiles/shared/overlayscrollbars/css/overlayscrollbars.min.css" rel="stylesheet" />
<link href="~/staticfiles/shared/fakeloader/fakeloader.css" rel="stylesheet" />
<link href="~/staticfiles/shared/fontawesome6/css/all.min.css" rel="stylesheet" />
<link href="~/staticfiles/shared/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<link href="~/staticfiles/shared/toastr/css/toastr.css" rel="stylesheet" />
<link href="~/staticfiles/shared/toastr/css/toastr.min.css" rel="stylesheet" />
<link href="~/staticfiles/shared/select2/css/select2.css" rel="stylesheet" />
<link href="~/staticfiles/shared/select2/css/select2.min.css" rel="stylesheet" />
<link href="~/staticfiles/shared/adminlte.css" rel="stylesheet" />
<link href="~/staticfiles/shared/logo-style/css/logo-style.css" rel="stylesheet" />
<link href="~/staticfiles/shared/general.css" rel="stylesheet" />
<link href="~/staticfiles/shared/sortable.css" rel="stylesheet" />
<link href="~/staticfiles/shared/mainstyle.css" rel="stylesheet" />
<link href="~/staticfiles/shared/jquery-tree-table/css/tree-table.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />