@model RequestUserDto

<form id="MyModalForm" asp-action="@nameof(UserController.Create)" onsubmit="return jQueryAjaxPost(this);">
    <div class="row">
        <div class="col-md-12">
            <div style="display:none" class="callout callout-danger ErrorDiv"></div>
            <div class="row">
                <div class="col-md-6 col-sm-12 d-flex">
                    <div class="form-group mb-3">
                        <label>Name</label>
                        <input type="text" asp-for="Name" class="form-control" />
                        <span class="validation" asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 d-flex">
                    <div class="form-group mb-3">
                        <label>User Name</label>
                        <input type="text" asp-for="UserName" class="form-control" />
                        <span class="validation" asp-validation-for="UserName"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 d-flex">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" asp-for="IsAdmin" />
                            <span class="text-bold">IsAdmin</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}