@model ClassFilterVM

<form asp-action="GetListFromFilters">
    <div class="card">
        <div class="card-dialog">
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <label>Name</label>
                            <input asp-for="name" type="text" value="@Model.name" class="form-control" placeholder="Search by name">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row justify-content-center">
                        <div class="col-md-2">
                            <a asp-action="Index" class="btn btn-default"><i class="fa-solid fa-rotate-left"></i> Clear</a>
                        </div>
                        <div class="col-md-2">
                            <button id="SearchBtn" type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>