@using PLManagementSystem.Helpers.PassHelper
@model RequestDayDto
@{
    string action = nameof(DayController.Edit);

    var QueryStringDictionary = new Dictionary<string, string>();
    if (ViewData["QueryStringDictionary"] != null)
    {
        QueryStringDictionary = new Dictionary<string, string>(ViewData["QueryStringDictionary"] as Dictionary<string, string>);
    }

    var CurrentPageIndex = ViewData["PageIndex"];
}

<form id="MyModalForm" asp-route-id="@Model.Id" asp-all-route-data="@QueryStringDictionary" asp-route-PageIndex="@CurrentPageIndex"
      asp-action="@action" onsubmit="return jQueryAjaxPost(this);">
    <div class="box-body">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="IsDeleted" />
        <div style="display:none" class="callout callout-danger ErrorDiv"></div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group mb-3">
                    <label>Name</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span class="validation" asp-validation-for="Name"></span>
                </div>
            </div>
        </div>
    </div>
</form>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}