@using PLManagementSystem.Helpers.PassHelper
@model RequestLessonGroupsDto
@{
    var QueryStringDictionary = new Dictionary<string, string>();
    if (ViewData["QueryStringDictionary"] != null)
    {
        QueryStringDictionary = new Dictionary<string, string>(ViewData["QueryStringDictionary"] as Dictionary<string, string>);
    }
    var DayesList = ViewBag.DayesList;
    var ClassesList = ViewBag.ClassesList;
    var CurrentPageIndex = ViewData["PageIndex"];
}
<form asp-controller="@nameof(LessonGroupsController).Replace("Controller",string.Empty)" asp-action="@nameof(LessonGroupsController.Edit)"
    asp-route-id="@Model.Id"
      data-ajax-method="post" data-ajax="true" id="MyModalForm"
      data-ajax-failure="OnFailure" data-ajax-success="OnSuccess" data-ajax-begin="OnBegin">
    <div class="modal-body p-3">
        <input type="hidden" id="formType" value="edit"/>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="IsDeleted" />
        <input type="hidden" asp-for="OrderNo" />
        <div style="display:none" class="callout callout-danger ErrorDiv"></div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="form-group mb-3">
                    <label>Name</label>
                    <input type="text" asp-for="Name" class="form-control" autocomplete="off" />
                    <span class="validation" asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <label>Class</label>
                <select asp-for="ClassId" asp-items="ClassesList" class="form-control select2">
                    <option>-- Select --</option>
                </select>
                <span class="validation" asp-validation-for="ClassId"></span>
            </div>
            <div class="col-md-4 col-sm-12">
                <label>Price</label>
                <input asp-for="Price" class="form-control" />
                <span class="validation" asp-validation-for="Price"></span>
            </div>
        </div>
    </div>
</form>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}