@model List<ResponseLessonGroupsDaysDto>
@{
    int lessonGroupId = ViewBag.lessonGroupId;
    string ControllerName = nameof(LessonGroupsDaysController).Replace("Controller", string.Empty);
    string addLink = Url.Action(nameof(LessonGroupsDaysController.Create), ControllerName, null, Context.Request.Scheme) + $"?lessonGroupId={lessonGroupId}";
}
<input type="hidden" id="deleteAction" confirmButtonTextMSG="Delete" textDeleteMSG="Yes, delete day." titleDeleteMSG="Yes, delete day." />
<div class="mt-3">
    <div class="row justify-content-between">
        <div class="col-sm-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title mt-2">Days</h3>
                    <div class="card-tools">
                        <a onclick='return openForm(`@addLink`,`Add Day`)' href='javascript:void(0)' class="btn btn-success"><span>Add Day <i class="fa-solid fa-plus"></i></span></a>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mt-3">
                        <div class="row justify-content-between">
                            <div class="col-12">
                                @if (Model.Any())
                                {
                                    <div class="tree-table-wrap">
                                        <table id="DayTable" class="table table-bordered table-striped" style=" width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Day</th>
                                                    <th>Time</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    var urlEdit = Url.Action(nameof(LessonGroupsDaysController.Edit), ControllerName, null, Context.Request.Scheme) + $"?id={item.Id}";
                                                    var urlDelete = Url.Action(nameof(LessonGroupsDaysController.Delete), ControllerName, null, Context.Request.Scheme) + $"?id={item.Id}";
                                                    <tr>
                                                        <td>@item.DayName</td>
                                                        <td>@item.Time</td>
                                                        <td>
                                                            <a class="nav-link " data-toggle="dropdown" href="#">
                                                                <i class="fa fa-ellipsis-h"></i>
                                                            </a>
                                                            <div class="dropdown-menu">
                                                                <a class="hand dropdown-item" onclick='return deleteDay("@urlDelete")'>
                                                                    <span class="fa-solid fa-trash-can"></span> Delete
                                                                </a>
                                                                <a class="hand dropdown-item" onclick='return openForm("@urlEdit","Edit Day")'>
                                                                    <span class="fa fa-edit"></span> Edit
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex justify-content-center mt-4">
                                        <h3>--- No Data Available --- </h3>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/staticfiles/plmanagementsystem/viewsfiels/js/lessongroupdays.js"></script>